.qmake.stash
11.txt
Demo_1.pro.user
Demo_1.pro.user.18
Demo_1.pro.user.3.3-pre1
Makefile
Makefile.Debug
Makefile.Release
PLR.pro.user
PLR.pro.user.59e1fe2
PLR.pro.user.c0582e3
debug/
dialog.cpp
dialog.h
dialog.ui
geshihua.cpp
geshihua.h
geshihua.ui
gshwindow.cpp
gshwindow.h
gshwindow.ui
help.txt
newcombox.cpp
newcombox.h
newico.qrc
object_script.Demo_1.Debug
object_script.Demo_1.Release
other/
pictureText/
release/
ui_gshwindow.h
ui_help_txt.h
ui_helpdoc.h
ui_mainwindow.h
ui_secwidget.h
